@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #1a1625;
        /* brand-dark */
        color: #ffffff;
        /* brand-text */
        background: linear-gradient(135deg, #463b52 0%, #1a1625 100%);
        min-height: 100vh;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #1a1625;
    /* brand-dark */
}

::-webkit-scrollbar-thumb {
    background-color: #2f2b3a;
    /* brand-card */
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #766c8c;
    /* brand-secondary */
}